---
import type { Module } from "../../types/module";

export const prerender = false;

interface Props {
    courseId: number;
}

const { courseId } = Astro.props;

const data = await fetch(
    `https://udemy-backend.incognity.dev/module/course/${courseId}/list`
);

const modules: Module[] = await data.json();
---

<section class="max-w-5xl mx-auto py-10">
    <h2 class="text-xl font-semibold mb-4">Contenido del curso:</h2>
    <div class="border-t divide-y text-sm text-gray-800">
        {
            modules.map((module) => (
                <div class="flex justify-between py-3">
                    <p>{module.title}</p>
                    <span class="text-gray-500">{module.duration}:00</span>
                </div>
            ))
        }
    </div>
</section>
