---
import SearchSection from "../components/course/SearchSection";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cursos Educativos - Udemy">
    <div>
        <h1 class="text-3xl font-bold text-gray-900">Cursos educativos</h1>
        <p class="mt-2 text-lg text-gray-600">
            Educaci칩n al alcance de tus manos.
        </p>

        <div class="my-4 flex items-center text-gray-700">
            <span class="text-xl mr-2">游논</span>
            <span class="text-sm">750.362 estudiantes</span>
        </div>

        <SearchSection client:load />

        <div class="mt-12 flex flex-wrap gap-6">
            <div class="flex-1 min-w-[280px]">
                <h2 class="text-2xl font-semibold">
                    Aprendizaje orientado a tus objetivos
                </h2>

                <div class="mt-4">
                    <h3 class="font-semibold">Forma Pr치ctica</h3>
                    <p class="text-gray-600">
                        Desarrolla eficazmente tus habilidades con ejercicios
                        basados en ex치menes de prueba, cuestionarios y espacios
                        de trabajo.
                    </p>
                </div>

                <div class="mt-4">
                    <h3 class="font-semibold">
                        Preparaci칩n para certificaciones
                    </h3>
                    <p class="text-gray-600">
                        Puedes obtener certificaciones reconocidas en el sector
                        resolviendo desaf칤os reales.
                    </p>
                </div>

                <div class="mt-4">
                    <h3 class="font-semibold">Datos y An치lisis</h3>
                    <p class="text-gray-600">
                        Acelera tus objetivos con datos avanzados y un equipo
                        dedicado de 칠xito del cliente para fomentar un
                        aprendizaje eficaz.
                    </p>
                </div>

                <div class="mt-4">
                    <h3 class="font-semibold">Contenido Personalizable</h3>
                    <p class="text-gray-600">
                        Crear v칤as de aprendizaje personalizadas para los
                        objetivos de tu equipo y organizaci칩n.
                    </p>
                </div>
            </div>

            <div class="flex-1 flex flex-col gap-4 min-w-[280px]">
                <img
                    src="/src/assets/2.png"
                    alt="Aprendizaje"
                    class="rounded shadow-md"
                />
                <img
                    src="/src/assets/6.png"
                    alt="Datos y an치lisis"
                    class="rounded shadow-md"
                />
            </div>
        </div>
    </div>
</Layout>
