---
import CategorySection from "../components/category/CategorySection.astro";
import CourseSection from "../components/course/CourseSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cursos Educativos - Udemy">
    <div>
        <h1 class="text-3xl font-bold text-gray-900">Cursos educativos</h1>
        <p class="mt-2 text-lg text-gray-600">
            Educaci칩n al alcance de tus manos.
        </p>

        <div class="mt-4 flex items-center text-gray-700">
            <span class="text-xl mr-2">游논</span>
            <span class="text-sm">750.362 estudiantes</span>
        </div>

        <CategorySection />

        <CourseSection />

        <div class="mt-12 flex flex-wrap gap-6">
            <div class="flex-1 min-w-[280px]">
                <h2 class="text-2xl font-semibold">
                    Aprendizaje orientado a tus objetivos
                </h2>

                <div class="mt-4">
                    <h3 class="font-semibold">Forma Pr치ctica</h3>
                    <p class="text-gray-600">
                        Desarrolla eficazmente tus habilidades con ejercicios
                        basados en ex치menes de prueba, cuestionarios y espacios
                        de trabajo.
                    </p>
                </div>

                <div class="mt-4">
                    <h3 class="font-semibold">
                        Preparaci칩n para certificaciones
                    </h3>
                    <p class="text-gray-600">
                        Puedes obtener certificaciones reconocidas en el sector
                        resolviendo desaf칤os reales.
                    </p>
                </div>

                <div class="mt-4">
                    <h3 class="font-semibold">Datos y An치lisis</h3>
                    <p class="text-gray-600">
                        Acelera tus objetivos con datos avanzados y un equipo
                        dedicado de 칠xito del cliente para fomentar un
                        aprendizaje eficaz.
                    </p>
                </div>

                <div class="mt-4">
                    <h3 class="font-semibold">Contenido Personalizable</h3>
                    <p class="text-gray-600">
                        Crear v칤as de aprendizaje personalizadas para los
                        objetivos de tu equipo y organizaci칩n.
                    </p>
                </div>
            </div>

            <div class="flex-1 flex flex-col gap-4 min-w-[280px]">
                <img
                    src="/src/assets/2.png"
                    alt="Aprendizaje"
                    class="rounded shadow-md"
                />
                <img
                    src="/src/assets/6.png"
                    alt="Datos y an치lisis"
                    class="rounded shadow-md"
                />
            </div>
        </div>

        <h2 class="text-2xl font-semibold mt-12 mb-6">
            Testimonios de nuestros usuarios
        </h2>
        <div class="grid md:grid-cols-3 gap-6">
            <div class="bg-white p-6 rounded-lg shadow">
                <p class="text-gray-800 mb-4">
                    "Udemy marc칩 un antes y despu칠s en mi vida"
                </p>
                <div class="flex items-center gap-4">
                    <img
                        src="/src/assets/11.png"
                        alt="Alvin Lim"
                        class="w-12 h-12 rounded-full border"
                    />
                    <div>
                        <span class="font-semibold">Alvin Lim</span>
                        <p class="text-sm text-gray-500">
                            Director de tecnolog칤a en Dimensional.
                        </p>
                    </div>
                </div>
            </div>

            <div class="bg-white p-6 rounded-lg shadow">
                <p class="text-gray-800 mb-4">
                    "Con Udemy consegu칤 un nuevo puesto de trabajo con mejor
                    sueldo"
                </p>
                <div class="flex items-center gap-4">
                    <img
                        src="/src/assets/9.png"
                        alt="Lizbeth Cruzado"
                        class="w-12 h-12 rounded-full border"
                    />
                    <div>
                        <span class="font-semibold">Lizbeth Cruzado</span>
                        <p class="text-sm text-gray-500">
                            Gestor de cuentas de Amazon
                        </p>
                    </div>
                </div>
            </div>

            <div class="bg-white p-6 rounded-lg shadow">
                <p class="text-gray-800 mb-4">
                    "Con Udemy Business, los colaboradores pudieron adquirir los
                    conocimientos tecnol칩gicos que necesitaban"
                </p>
                <div class="flex items-center gap-4">
                    <img
                        src="/src/assets/8.jpg"
                        alt="Ian Stevens"
                        class="w-12 h-12 rounded-full border"
                    />
                    <div>
                        <span class="font-semibold">Ian Stevens</span>
                        <p class="text-sm text-gray-500">
                            Gerente de T.I. L.G.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Layout>
